<div class="container">
  <div class="section-heading">
    <h6>My Service</h6>
    <h2>My Specialties</h2>
  </div>
  <div class="accordion accordion-flush" id="accordion_services">
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="true"
          aria-controls="flush-collapseOne"
        >
          <span class="services-title">Back-End</span>
          <span class="services-small-desc"
            >Highly skilled and experienced backend developer with a
            demonstrated history of delivering robust and scalable software
            solutions...</span
          >
          <span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordion_services"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/services-5.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <div class="s-text">
                <p>
                  Highly skilled and experienced backend developer with a
                  demonstrated history of delivering robust and scalable
                  software solutions. Proficient in a variety of technologies
                  and frameworks, specializing in Java, Spring Framework, and
                  database management systems like Oracle Database and
                  PostgreSQL.
                </p>
                <div>
                  <label class="hp-exp-subtitle">Professional Expertise:</label>
                  <ul>
                    <li>
                      Led the development of backend systems for diverse
                      projects, leveraging Java, Spring Framework, and Oracle
                      Database to ensure efficient and reliable performance.
                    </li>
                    <li>
                      Collaborated closely with cross-functional teams to design
                      and implement backend solutions that meet project
                      requirements and deadlines.
                    </li>
                    <li>
                      Demonstrated expertise in optimizing backend performance
                      and scalability, contributing to the overall success of
                      software projects.
                    </li>
                    <li>
                      Experienced in conducting code reviews and implementing
                      best practices to maintain high code quality and ensure
                      adherence to industry standards.
                    </li>
                    <li>
                      Proficient in troubleshooting and resolving backend
                      technical issues, ensuring smooth functionality and
                      seamless integration with frontend and other system
                      components.
                    </li>
                  </ul>
                </div>
                <div>
                  <label class="hp-exp-subtitle">Key Skills:</label>
                  <ul>
                    <li>Programming Languages: Java, SQL, C#</li>
                    <li>Frameworks/Libraries: Spring Framework, Hibernate</li>
                    <li>
                      Databases: Oracle Database, PostgreSQL, Microsoft SQL
                      Server
                    </li>
                    <li>Tools/Technologies: Apache Kafka, Elasticsearch</li>
                    <li>
                      Proficient in backend development methodologies and
                      practices, including RESTful APIs, microservices
                      architecture, and cloud-based solutions.
                    </li>
                    <li>
                      Strong problem-solving abilities and a proactive approach
                      to identifying and addressing backend challenges.
                    </li>
                    <li>
                      Excellent communication and collaboration skills, enabling
                      effective interaction with team members and stakeholders
                      to achieve project goals.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <span class="services-title">Front-End</span>
          <span class="services-small-desc"
            >Proven frontend developer with a comprehensive skill set and a
            passion for crafting engaging and user-friendly interfaces...</span
          >
          <span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion_services"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/project-2.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <div class="s-text">
                <p>
                  Proven frontend developer with a comprehensive skill set and a
                  passion for crafting engaging and user-friendly interfaces.
                  Proficient in a range of frontend technologies and frameworks,
                  including Angular, JavaScript, HTML5, and CSS. Experienced in
                  translating design concepts into functional and visually
                  appealing frontend solutions that enhance user experience.
                </p>
                <div>
                  <label class="hp-exp-subtitle">Professional Expertise:</label>
                  <ul>
                    <li>
                      Led frontend development efforts for various projects,
                      utilizing Angular, JavaScript, HTML5, and CSS to create
                      intuitive and responsive user interfaces.
                    </li>
                    <li>
                      Collaborated closely with design teams to implement UI/UX
                      best practices and ensure seamless integration of frontend
                      components.
                    </li>
                    <li>
                      Demonstrated proficiency in frontend optimization
                      techniques to improve performance and usability, resulting
                      in enhanced user satisfaction and engagement.
                    </li>
                    <li>
                      Leveraged knowledge of frontend frameworks like Angular
                      and Dojo to develop dynamic and interactive web
                      applications that meet project requirements and
                      objectives.
                    </li>
                    <li>
                      Contributed to the success of software projects by
                      delivering high-quality frontend code and adhering to
                      established coding standards and best practices.
                    </li>
                  </ul>
                </div>
                <div>
                  <label class="hp-exp-subtitle">Key Skills:</label>
                  <ul>
                    <li>Languages: JavaScript, HTML5, CSS</li>
                    <li>
                      Frameworks/Libraries: Angular, Dojo, Angular Material
                    </li>
                    <li>
                      Proficient in frontend development methodologies such as
                      responsive design, cross-browser compatibility, and
                      accessibility standards.
                    </li>
                    <li>
                      Strong problem-solving abilities and attention to detail,
                      ensuring frontend solutions are robust, scalable, and
                      user-friendly.
                    </li>
                    <li>
                      Excellent communication and collaboration skills, enabling
                      effective interaction with cross-functional teams and
                      stakeholders to achieve project goals and deadlines.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          <span class="services-title">System Design</span>
          <span class="services-small-desc"
            >Dynamic and innovative software engineer with a comprehensive
            understanding of system design principles and methodologies...</span
          >
          <span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion_services"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/project-3.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <div class="s-text">
                Dynamic and innovative software engineer with a comprehensive
                understanding of system design principles and methodologies.
                Possesses a proven track record of architecting and implementing
                scalable and efficient software solutions across various
                domains. Proficient in analyzing complex requirements and
                translating them into well-structured and maintainable system
                designs.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapsefour"
          aria-expanded="false"
          aria-controls="flush-collapsefour"
        >
          <span class="services-title">DevOpp</span>
          <span class="services-small-desc"
            >Experienced software engineer with a strong proficiency in DevOps
            practices...</span
          >
          <span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapsefour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion_services"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/project-4.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <div class="s-text">
                Experienced software engineer with a strong proficiency in
                DevOps practices, leveraging automation and collaboration tools
                to streamline software development processes. Possesses a proven
                track record of implementing CI/CD pipelines, optimizing system
                performance, and ensuring seamless deployment of software
                solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
