<div class="container">
  <div class="row gy-5">
    <div class="col-lg-5">
      <div class="section-heading">
        <h6>Experience</h6>
        <h2>My experience</h2>
        <p>
          Experienced and results-driven software engineer with a strong
          background in full-stack development and a proven track record of
          delivering high-quality software solutions.
        </p>
        <div class="btn-bar">
          <a class="px-btn dark" href="javascript:">
            Download my resume <i class="bi-download"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <ul class="resume-box">
        <li>
          <h5>Senior Software Enginner</h5>
          <div class="r-meta">
            <span>-2022 - Present</span>
            <p class="hp-company">@ FPT Americas</p>
          </div>
        </li>
        <li>
          <h5>Senior Software Enginner</h5>
          <div class="r-meta">
            <span>-2021 - 2022</span>
            <p class="hp-company">@FPT Software</p>
          </div>
        </li>
        <li>
          <h5>Software Enginner</h5>
          <div class="r-meta">
            <span>-2018 - 2021</span>
            <p class="hp-company">@FPT Software</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
