.hp-company {
  font-size: 12px;
  border-radius: 5px;
  background-color: var(--px-dark);
  padding: 2.5px;
  margin-top: 0px;
  width: fit-content;
  color: var(--px-theme);
}
.r-meta {
  margin-top: 10px;
}
.resume-box h5 {
  font-size: 20px;
}
