<div class="container">
  <div class="row min-vh-100 align-items-center">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>
          My name <br />is <b>Hung</b>
          <span
            ><br />
            Pham...</span
          >
        </h1>
        <p class="lead">
          <span>Senior Software Enginner</span> based in <span>USA</span>
        </p>
        <div class="btn-bar">
          <a class="px-btn" href="#contact">
            Work with me <i class="bi-arrow-up-right"></i>
          </a>
          <!-- <span class="bi-envelope" id="count" style="margin-left: 16px"
            >Loading...</span -->
          >
        </div>
        <div class="info-bar">
          <p><i class="bi-phone"></i> <span>+1945 236 9965</span></p>
          <p>
            <i class="bi-envelope"></i>
            <span>phamhung.pitit@gmail.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="hb-me"
  style="background-image: url(assets/img/home-banner1.png)"
></div>
<div class="social-fix">
  <div class="social-links">
    <a href="https://github.com/phamhungptithcm" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/hunpham/details/experience/"
      target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://www.facebook.com/hawaihouu/" target="_blank"
      ><i class="fab fa-facebook"></i
    ></a>
  </div>
</div>
<script>
  // Replace 'your-unique-key' with your actual key
  const countAPIUrl = "https://api.countapi.xyz/hit/hunpeo97.web.app/visits";

  // Function to update visit count
  function updateVisitCount() {
    fetch(countAPIUrl)
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("count").innerText = data.value;
      })
      .catch((error) => console.error("Error fetching visit count:", error));
  }

  // Update visit count on page load
  updateVisitCount();
</script>
